body {
    width: 70%;
    margin: auto;
    border: 0.5px solid RGB(46, 43, 43, 0.5);
}

main {
    width: 80%;
    margin: auto;
}

header {
    width: 100%;
    height: 10vh;
    background-color: #2e2b2b;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

nav > img{
    display: inline;
    list-style: none;
    margin-top: 10px;
}

main > img {
    margin: 30px auto;
    width: 100%;
}

main > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main > section {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}

section > article {
    width: 50%;
    text-align: left;
    padding: 30px;
}

main > section > img {
    width: 50%;
}

h2 { 
    font-size: 1.5em;
    padding: 0 0 20px 0;
}

p {
    width: 100%;
    height: 150px;
    padding: 0 0 20px 0;
    overflow: scroll;
}

button {
    text-decoration: none;
    background-color: #2e2b2b;
    color: white;
    font-size: 1em;
    padding: 10px 20px 10px 20px;
    margin-top: 30px;
}

footer {
    width: 100%;
    height: 10vh;
    background-color: #2e2b2b;
    margin-top: 30px;
}